* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blanchedalmond;
    padding: 10px;
    margin: auto;
}

.container1 {
    width: 100%;
    height: 50px;
    background-color: aliceblue;
    padding: 10px;
}

.container1 ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.container1 li {
    float: left;
    padding: 5px;
}

.container1 li a {
    text-decoration: none;
    color: black;
}

.container1 a:hover {
    background-color: bisque;
}




